.Notification-Menu {
    position: relative;
    height: 550px;
    width: 360px;
    border-radius: 3%;
    background-color: rgb(223, 217, 217);
  }
  
 .heading{
    color: #02203C;
    transform: translate(22.5%, 60%);
    text-decoration: underline;
}

  .Notification {
    transform: translate(4.5%, 10%);
    width: 330px;
    height: 110px;
    padding-top: 17px;
    margin-bottom: 10px;
    border-radius: 5%;
    background-color: white;
  }

button{
    text-align: center;
    transform: translate(4.5%, 35%);
    width: 330px;
    height: 50px;
    background-color: #02203C;
    font-size: larger;
    color: aliceblue;
    border-radius: 10px;
}
 button:hover
 {
    background-color: aliceblue;
    color: #02203C;
 }

.image{
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 10px;
}

.Nmae{

    transform: translate(36%, -145%);
    font-size: x-large;
    margin-top: -74px;
}

.Nmae-with-extra{
    display: inline-block;
    transform: translate(116%, -509%);
    font-size: x-large;
}
.extra{
    display: inline-block;
    transform: translate(77%, -513%);
        font-size: x-large;
}

.details{
    transform: translate(36%, -125%);
    font-size: x-large;
}

#details2{
    height: 50px;
    width: 330px;
}

#details3{
    width: 110px;
    transform: translate(174.5%, -906%);
}

.time{
    font-size: large; 
    font-style: italic;
}
#time1{

    margin-top: -77px;
    margin-left: 212px;

}

#time2{
    margin-top: -71px;
    margin-left: 238px;
}
#time3{
    margin-top: -305px;
    transform: translate(74%, -9%);
}

.div3 {
    transform: translate(7.5%, -3%);
    width: 294px;
    height: 20px;
}

.nnn{
    transform: translate(101%, -660%);
    display: inline-block;
    font-size: x-large;
}

.mmm{
    transform: translate(46%, -692%);
    display: inline-block;
    font-size: large;
    width: 210px;
}