.table {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
   
  }
  
  .table-head {
    display: flex;
  }
  
  .table-cell {
    flex-grow: 1;
    padding: 15px;
    color: white;
    background-color: #6E072D;
  }
  
  hr{
    background-color:aliceblue;
    width: 2px;
    
  }

  